<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pts3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".controller.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CreateActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="POST_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.LogInActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.LobbyActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity android:name=".controller.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="POST_NOTIFICATION_FRIEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.FavoriteActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.FindFriendsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.ProfileManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.CommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.NoConnectionActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <receiver android:name=".controller.InternetCheckService">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <service
            android:name=".controller.MyFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_cassette" />
    </application>

</manifest>